declareVar(
  name="myRole",
  label="My role",
  varType="select",
  default="member",
  collapsable=false
)
  option(value="imperator", label="Imperator")
  option(value="praemonstrator", label="Praemonstrator")
  option(value="cancellarius", label="Cancellarius")
  option(value="hierophant", label="Hierophant")
  option(value="pastHierophant", label="Past Hierophant")
  option(value="hiereus", label="Hiereus")
  option(value="hegemon", label="Hegemon")
  option(value="keryx", label="Keryx")
  option(value="stolistes", label="Stolistes")
  option(value="dadouchos", label="Dadouchos")
  option(value="sentinel", label="Sentinel")
  option(value="candidate", label="Candidate")
  option(value="member", label="Member")
declareVar(
  name="candidateName",
  label="Candidate's Name",
  varType="text",
  default="(Candidate's Name)",
  collapsable
)
declareVar(
  name="candidateMotto",
  label="Candidate's Motto",
  varType="text",
  default="(Candidate's Motto)",
  collapsable
)
declareVar(
  name="templeName",
  label="Temple",
  varType="text",
  default="(name)",
  collapsable
)
declareVar(
  name="orderName",
  label="Order's Name",
  varType="text",
  default="Order of the Stella Matutina",
  collapsable
)
declareVar(
  name="witnessed",
  label="Witnessed/Beheld the",
  varType="text",
  default="Stella Matutina",
  collapsable
)

title(text="Opening of the 1 = 10 Grade")
  | Opening of the
  |
  grade(grade="1=10")
  |
  | Grade

note
  img(src="/pics/zelator1.svg")

note Officers - the same as for the Neophyte grade.
note Temple - arranged as in diagram
note
  b Required:
  ul
    li
      | For the
      |
      b candidate
      | : hoodwink, Zelator sash
    li
      | For the
      |
      b temple
      | : Fylfot Cross, three portal symbols, shewbread diagram,
      | candlestick diagram, earth tablet, altar diagrams.
    li
      | For the
      |
      b altar
      | : red cross, white triangle, red light, altar diagram
      | (the flaming sword of the Kerubim)
note
  | The members, having assembled and robed, each is seated in his proper
  | place.
do(role="hierophant") ✊
say(role="all") Rise
say(role="hierophant")
  | (Sitting) Fratres and sorores of the
  |
  grade(grade="1=10")
  |
  | grade of the
  |
  var(name="orderName")
  | , assist me to open the temple in the grade of Zelator.
  | Frater Kerux, see that the temple is properly guarded.
do(role="keryx")
  | ✊ (without opening the door)
say(role="keryx")
  | Very Honoured Hierophant, the temple is properly guarded.
say(role="hierophant")
  | Honoured Hiereus, see that none below the grade of Zelator is
  | present.
say(role="hiereus") Fratres and Sorores, give the signs of
  |
  grade(grade="1=10")
  | .
do(role="all") Give the signs of the Zelator.
do(role="hiereus") Gives sign.
say(role="hiereus")
  | Very Honoured Hierophant, no one below the grade of Zelator is now present.
say(role="hierophant")
  | (Giving sign.) Purify and consecrate the temple with water and with fire.
do(role="keryx") advances between the pillars.
do(role="stolistes,dadouchos") one on each side of the pillars, advance to the centre of the hall.
do(role="all") Salute.
do(role="dadouchos")
  | makes cross in air with censer and swings it forward three times, saying:
say(role="dadouchos") I consecrate with fire.
do(role="stolistes") makes cross with cup and sprinkles thrice towards east, saying:
say(role="stolistes") I purify with water.
say(role="keryx") The temple is cleansed.
do(role="keryx") Salutes with
  |
  |
  grade(grade="1=10")
  |
  | and
  |
  grade(grade="0=0")
  |
  | signs.
do(role="keryx,stolistes,dadouchos")
  | All three retire, Kerux leading and passing signs.
say(role="hierophant")
  | Let the element of this grade be named that it may be awakened in
  | the spheres of those present and in the sphere of the order.
say(role="hegemon") The element of earth.
do(role="hierophant") ✊
say(role="hierophant") Let us adore the Lord and King of Earth.
do(role="all") Face East.
say(role="hierophant")
  | Adonai ha-Aretz. Adonai Melekh. Unto thee be the kingdom and
  | the power and the glory.
do(role="hierophant")
  | Makes cross and circle with sceptre before him as he says:
say(role="hierophant")
  | Malkuth, Geburah, Gedulah.
say(role="hierophant")
  | The rose of Sharon and the lily of the valley, Amen.
do(role="all") Give Zelator signs.
do(role="keryx") Goes to north, and sprinkles salt before the tablet, saying:
say(role="keryx") Let the Earth adore Adonai!
do(role="hierophant")
  | Leaves his place and goes to north.
  | Stands facing the centre of the tablet of the north and at a convenient
  | distance therefrom, say six feet.
do(role="hiereus") takes his place at the right of Hierophant.
do(role="hegemon") takes his place at the left of the Hierophant.
do(role="stolistes") behind Hiereus
do(role="dadouchos") behind Hegemon
do(role="all-officers") Face north.
do(role="hierophant")
  | Hierophant makes sign in front of and concentric with tablet of
  | the north, an invoking pentagram of earth, saying:
say(role="hierophant")
  | And the Elohim said, “Let us make Adam in our image, after our
  | likeness, and let him have dominion over the fish of the sea and over the
  | fowl of the air and over the cattle and over all the earth, and over every
  | creeping thing that creepeth over the earth.” And the Elohim created Eth
  | ha-Adam in their own image, in the image of the Elohim created they
  | them. In the name of Adonai Melekh and of the bride and queen of the
  | kingdom, spirits of Earth adore Adonai!
do(role="hiereus") ready to take sceptre from Hierophant, and give him sword.
do(role="hierophant")
  | hands his sceptre to Hiereus and, taking his sword, makes the ox
  | in centre of pentagram, saying:
say(role="hierophant")
  | In the name of Auriel, the great archangel of earth, and by the sign of
  | the head of the ox—spirits of earth, adore Adonai!
do(role="hiereus") ready to take back sword.
do(role="hegemon") ready to give sceptre to Hierophant.
do(role="hierophant")
  | returns sword to Hiereus and takes mitre-headed sceptre from Hegemon,
  | and makes cross in the air
say(role="hierophant")
  | In the names and letters of the great northern quadrangle, spirits of
  | earth, adore Adonai!
do(role="hegemon") ready to take back sceptre from Hegemon.
do(role="stolistes") ready to give cup to Hierophant.
do(role="hierophant")
  | returns sceptre to Hegemon, and takes cup from Stolistes,
  | making cross, and sprinkling thrice to north, saying:
say(role="hierophant")
  | In the three great secret names of God, borne upon the Banner of the
  | North — EMOR DIAL HECTEGA
  footnote 
    | John Michael Greer: Properly spelled MOR DIAL HCTGA;
    | see Part One of the Book of the Concourse of the Forces.
  |
  | spirits of earth, adore Adonai!
do(role="stolistes") ready to take back cup from Hierophant.
do(role="dadouchos") ready to give censer to Hierophant.
do(role="hierophant")
  | returns cup to Stolistes and takes censer from Dadouchos,
  | and making three forward swings, says:
say(role="hierophant")
  | In the name of Ic Zod Heh Chal
  footnote
    | John Michael Greer: Properly spelled ICZHIHAL or ICZHIHCHAL.
  | , great king of the north, spirits of earth, adore Adonai!
do(role="dadouchos") ready to take back censer from Hierophant.
do(role="hiereus") ready to return sceptre to Hierophant.
do(role="hierophant")
  | returns censer to Dadouchos, takes back sceptre from Hiereus,
  | and returns to throne.
do(role="all-officers") Return to placess.
do(role="member") Face as usual.
say(role="hierophant")
  | In the name of Adonai ha-Aretz, I declare this temple duly opened
  | in the
  |
  grade(grade="1=10")
  |
  | grade of Zelator.
do(role="hierophant") ✊✊✊✊ | ✊✊✊ | ✊✊✊
do(role="hiereus") ✊✊✊✊ | ✊✊✊ | ✊✊✊
do(role="hegemon") ✊✊✊✊ | ✊✊✊ | ✊✊✊

br
br

title(text="Ceremony of Advancement — First Part")
do(role="hierophant") sits east of altar
do(role="hiereus") sits north of altar
do(role="hegemon") sits south of altar.

say(role="hierophant")
  | Fratres and sorores, our Frater (Soror) having made such progress
  | in the paths of occult science as has enabled him (her) to pass an
  | examination in the required knowledge, is now eligible for advancement
  | this grade, and I have duly received a dispensation from the greatly
  | honoured chiefs of the Second Order to admit him (her) in due form.
  | Honoured Hegemon, superintend the preparation of the Neophyte and give
  | the customary alarm.
do(role="hegemon") 
  | salutes with
  |
  grade(grade="1=10")
  |
  | sign, and leaves the room by south and west.
do(role="hegemon") prepares Neophyte who wears sash of the
  |
  grade(grade="0=0")
  |
  | grade, is blindfolded, and carries the Fylfot Cross in right hand.
do(role="hegemon") instructs Neophyte in knocks of the grade.
do(role="keryx") opens the door to be just ajar.
say(role="hegemon") Let me enter the portal of wisdom.
say(role="keryx") I will.
do(role="keryx")
  | Opens door and admits them (having turned down lights previously).
say(role="hierophant")
  | Except Adonai build the house, their labour is but lost that build it.
  | Except Adonai keep the city, the watchman waketh in vain. Frater
  | (Soror) Neophyte, by what aid dost thou seek admission to the
  |
  grade(grade="1=10")
  |
  | grade of Zelator of the
  |
  var(name="orderName")
  | ?
say(role="hegemon")
  | (For Neophyte) By the guidance of Adonai; by the possession of the
  | necessary knowledge; by the dispensation of the greatly honoured chiefs of
  | the Second Order; by the signs and tokens of the
  |
  grade(grade="0=0")
  |
  | grade; by this symbol of the hermetic cross.
do(role="keryx") takes cross from Neophyte.
say(role="hierophant") Give the step and signs of a Neophyte.
do(role="candidate") gives them.
say(role="hierophant")
  | Frater Kerux, receive from the Neophyte the token, grand word,
  | and password of the
  |
  grade(grade="0=0")
  |
  | grade.
say(role="keryx") places himself in front of Neophyte and says:
say(role="keryx")
  | Give me the grip of the Neophyte. (Done.)
  br
  | Give me the grand word. (Done.)
  br
  | Give me the password. (Done.)
do(role="keryx") Having received it, he turns to Hierophant, gives grade salute, and says:
say(role="keryx") Very honoured Hierophant, I have received them.
say(role="hierophant") (To Hegemon) Lead the Neophyte to the west and set him between
  | the mystic pillars, with his face towards the east.
do(role="hegemon") Places Neophyte between the pillars, and remains behind him.
say(role="hierophant")
  | Frater (Soror) will you pledge yourself to maintain the same secrecy
  | regarding the mysteries of this grade as you are pledged to maintain
  | regarding those of the
  |
  grade(grade="0=0")
  |
  | grade - never to reveal them to the world, and not even to confer them
  | upon a Neophyte without a dispensation from the greatly honoured chiefs
  | of the Second Order?
say(role="candidate") I will.
say(role="hierophant")
  | Then you will kneel on both your knees, lay your right hand on the
  | ground, and say: “I swear by the earth whereon I kneel.” (Done.)
say(role="hierophant") Let the symbol of blindness be removed.
do(role="hegemon") Unbinds Neophyte's eyes.
do(role="keryx") Turns up lights.
do(role="hegemon") Goes back to his proper place.
do(role="candidate")
  | Remains kneeling between the pillarswith his hand on the ground.
do(role="keryx")
  | Takes the salt from before the tablet of the north, and passing
  | round the altar with Sol (i.e. clockwise), stands in front of
  | Neophyte facing him and holds the salt in front of him.
say(role="hierophant")
  | Take salt with your left hand and cast it to the north, saying:
  | "Let the powers of earth witness my pledge."
do(role="candidate") Does so.
do(role="keryx") Replaces salt, and returns to his place.
say(role="hierophant")
  | Let the Neophyte rise and let him be purified with water and
  | consecrated with fire, in confirmation of his pledge, and in the
  | name of the Lord of the Universe who works in silence and whom
  | naught but silence can express.
do(role="dadouchos")
  | comes forward round south pillar, stands before Neophyte and makes
  | three forward swings of censer, saying:
say(role="dadouchos")
  |
  | In the name of the Lord of the Universe, who works in silence and
  | whom naught but silence can express, I consecrate thee with fire.
do(role="dadouchos") returns by way he came.
do(role="stolistes")
  | comes round north pillar, stands before Neophyte, makes cross on
  | forehead, sprinkles thrice, saying:
say(role="stolistes")
  | In the name of the Lord of the Universe, who works in silence and
  | whom naught but silence can express, I purify thee with water.
do(role="stolistes") returns to place as he came.
say(role="hierophant")
  | The
  |
  grade(grade="0=0")
  |
  | grade of Neophyte is a preparation for other grades, a threshold
  | before our discipline, and it shows by its imagery, the light of the
  | hidden knowledge dawning in the darkness of creation; and you are now
  | to begin to analyse and comprehend the nature of that light. To this
  | end, you stand between the pillars, in the gateway where the secrets
  | of the
  |
  grade(grade="0=0")
  |
  | grade were communicated to you.
say(role="hierophant")
  | Prepare to enter the immeasurable region.
say(role="hierophant") 
  | And Tetragrammaton Elohim planted a garden eastward in
  | Eden, and out of the ground made Tetragrammaton Elohim to grow
  | every tree that is pleasant to the sight and good for food; the tree
  | of life also, in the midst of the garden, and the Tree of Knowledge of
  | Good and of Evil. This is the tree that has two paths, and it is the
  | tenth Sephirah Malkuth, and it has about it seven columns, and the
  | four splendours whirl around it as in the vision of the Merkabah
  footnote
    | John Michael Greer: The vision of the divine chariot in Ezekiel
    | 1:4-28, one of the principal subjects of Jewish mystical speculation.
  |
  | of Ezekiel; and from Gedulah it derives an influx of mercy, and from
  | Geburah an influx of severity, and the tree of the knowledge of
  | good and of evil shall it be until it is united with the supernals in
  | Daath.
say(role="hierophant")
  | But the good which is under it is called the archangel Metatron,
  | and the evil is called the archangel Samael, and between them lies the
  | straight and narrow way where the archangel Sandalphon keeps watch. The
  | souls and the angels are above its branches, and the Qlippoth or demons
  | dwell under its roots. Let the Neophyte enter the pathway of evil.
do(role="keryx")
  | takes his place in front of Neophyte, leads him in a northeast
  | direction towards the Hiereus, halts, and steps out of the direct line
  | between Hiereus and Neophyte.
say(role="hiereus") Whence comest thou?
say(role="keryx")
  | I come from between the two pillars, and I seek the light of the
  | hidden knowledge in the name of Adonai.
say(role="hiereus")
  | And the great angel Samael answered, and said: “I am the prince
  | of darkness and of night. The foolish and rebellious gaze upon the
  | face of the created world, and find therein nothing but terror and
  | obscurity. It is to them the terror of darkness and they are as
  | drunken men stumbling in the darkness. Return, for thou canst not
  | pass by.”
do(role="keryx") leads Neophyte back as he came, to between the pillars.
say(role="hierophant") Let the Neophyte enter the pathway of good.
do(role="keryx")
  | leads Neophyte southeast and halts opposite Hegemon, stepping
  | aside from before Neophyte.
say(role="hegemon") Whence comest thou?
say(role="keryx")
  | I come from between the pillars, and I seek the light of the hidden
  | knowledge in the name of Adonai.
say(role="hegemon")
  | The great angel Metatron answered, and said: “I am the angel of the
  | presence divine. The wise gaze upon the created world and behold there
  | the dazzling image of the Creator. Not yet can thine eyes bear that dazzling
  | image. Return, for thou canst not pass by.”
do(role="keryx") turns and leads Neophyte back between the pillars.
say(role="hierophant")
  | Let the Neophyte enter the straight and narrow pathway which
  | turns neither to the right hand nor to the left hand.
do(role="keryx")
  | leads Neophyte directly up centre of hall until he is near the altar,
  | halts, and steps aside from before Neophyte, leaving him to face altar
  | unobstructed.
say(role="hiereus,hegemon") (Together): Whence comest thou?
do(role="hiereus,hegemon") Cross sceptre and sword before altar.
say(role="keryx")
  | I come from between the pillars, and I seek the light of the hidden
  | knowledge in the name of Adonai.
do(role="hierophant") advances to east of altar with sceptre, which he
  | thrusts between sword of Hiereus and sceptre of Hegemon, and raising
  | it to an angle of 45 degrees says:
say(role="hierophant")
  | But the great angel Sandalphon said: “I am the reconciler for Earth,
  | and the celestial soul therein. Form is invisible alike in darkness
  | and in blinding light. I am the left hand Kerub of the Ark and the
  | feminine power, as Metatron is the right hand Kerub and the masculine
  | power, and I prepare the way to the celestial light.”
do(role="hegemon") steps back to south of altar.
do(role="hiereus") steps back to north of altar.
do(role="hierophant")
  | takes Neophyte by right hand with his left, and pointing to the
  | altar and diagram says:
todo flaming sword diagram
say(role="hierophant")
  | And Tetragrammaton placed Kerubim at the east of the garden of
  | Eden and a flaming sword which turned every way to keep the path of the
  | Tree of Life, for He has created nature that man being cast out of Eden
  | may not fall into the void. He has bound man with the stars as with a
  | chain. He allures him with scattered fragments of the divine body in bird
  | and beast and flower, and He laments over him in the wind and in the sea
  | and in the birds. When the times are ended, He will call the Kerubim from
  | the east of the garden, and all shall be consumed and become infinite and
  | holy.
say(role="hierophant")
  | Receive now the secrets of this grade. The step is thus given — 6 by 6
  | — showing you have passed the threshold. The sign is given by raising the
  | right hand to an angle of 45 degrees. It is the position in which the
  | Hierophant interposed for you between the Hiereus and the Hegemon. The
  | token is given by grasping fingers, the thumb touching thumb to form a
  | triangle. It refers to the ten Sephiroth. The word is Adonai ha-Aretz,
  | and means Adonai, the Lord of the Earth, to which element this grade is
  | allotted. The mystic number is 55, and from it is formed the password
  | Nun He. It means “ornament,” and when given is lettered separately.
  | The badge of this grade is the sash of the Neophyte with the narrow white
  | border, a red cross withinthe triangle, and the number 1 within a circle
  | and 10 within a square, one on each side of the triangle.
do(role="hierophant")
  | invests Neophyte with the sash, and points out the three portals, saying:
say(role="hierophant")
  | The three portals facing you in the east, are the gates of the Paths
  | leading to the three further grades, which with the Zelator and the
  | Neophyte forms the first and lowest order of our fraternity.
  | Furthermore, they represent the Paths which connect the tenth Sephirah
  | Malkuth with the other Sephiroth. The letters "ת" (Tau), "ק" (Qoph), and
  | "ש" (Shin) make the word קשת (Qesheth) — a bow, the reflection of the
  | rainbow of promise stretched over our earth, and which is about the
  | throne of God.
do(role="hegemon") points out the flaming sword on the altar diagram, saying:
say(role="hegemon")
  | This drawing of the flaming sword of the Kerubim is a representation
  | of the guardians of the gates of Eden, just as the Hiereus and Hegemon
  | symbolise the two paths of the Tree of Knowledge of Good and of Evil.
say(role="hiereus")
  | In this grade, the red cross is placed within the white triangle
  | upon the altar, and it is thus the symbol of the Banner of the West. The
  | triangle refers to the three Paths and the cross to the hidden knowledge.
  | The cross and the triangle together represent life and light.
do(role="hierophant") points out the tablet of the north, saying:
say(role="hierophant")
  | This grade is especially referred to the element of earth, and
  | therefore one of its principal emblems is the great watchtower or terrestrial
  | tablet of the north. It is the third or great northern quadrangle or earth
  | tablet, and it is one of the four great Tablets of the Elements said to have
  | been given to Enoch by the great angel Ave. It is divided within itself into
  | four lesser angles. The mystic letters upon it form various divine and
  | angelic names, in what our tradition calls the angelic secret language. From
  | it are drawn the three holy secret names of God, EMOR DIAL HECTEGA
  footnote
    | John Michael Greer: Properly spelled HCTGA; see Part One of the
    | Book of the Concourse of the Forces.
  | , which are borne upon the Banner of the North, and there are also numberless
  | names of angels, archangels, and spirits ruling the element of earth.
do(role="keryx") comes forward and hands Fylfot Cross to Hierophant.
say(role="hierophant")
  | The hermetic cross, which is also called Fylfot, hammer of Thor, and
  | swastika, is formed of seventeen squares out of a square of twenty-five
  | lesser squares. These seventeen represent the sun, the four elements, and
  | the twelve signs of the zodiac. In this grade, the lights on the pillars are
  | unshaded, showing that you have quitted the darkness of the outer world.
say(role="hierophant")
  | You will leave the temple for a short time.
do(role="keryx") takes Neophyte out.

br
br
title(text="Ceremony of Advancement — Second Part")
note
  img(src="/pics/zelator2.svg")
note The temple is arranged as in the diagram above.
say(role="hierophant")
  | Frater Kerux, when the Neophyte gives the proper alarm, you will
  | admit him. Fratres Stolistes and Dadouchos, assist the Kerux in the
  | reception.
do(role="keryx")
  | goes out and instructs Neophyte in the knocks.
do(role="dadouchos")
  | take up positions so as to face Neophyte as he enters hall.
do(role="keryx")
  | opens door and admits Neophyte, but does not stand in front of him.
say(role="hierophant")
  | Frater
  b 
    var(name="candidateMotto")
  | , as in the grade of Neophyte, you came out of the world to the
  | gateway of hidden knowledge, so in this grade you pass through the
  | gateway and come into the holy place
  footnote
    | John Michael Greer: The description that follows is based on the
    | description of the Hebrew tabernacle in Exodus 26 and 27. The
    | "holy place" is the inner sanctuary of the Tabernacle, where the
    | ark of the covenant was kept.
  | .
say(role="hierophant")
  | You are now in the court of the Tabernacle, where stood the Altar
  | of Burnt Offering, whereon was offered the sacrifices of animals,
  | which symbolised the Qlippoth or evil demons who inhabit the plane
  | contiguous to and below the material universe.
do(role="dadouchos")
  | makes cross in air with censer and censes Neophyte in silence with
  | three forward swings.
say(role="hierophant")
  | Between the altar and the entrance into the holy place stood the
  | laver of brass wherein the priests washed before entering the
  | Tabernacle. It was the symbol of the waters of creation.
do(role="stolistes")
  | makes cross with water on Neophyte’s forehead and sprinkles thrice
  | in silence.
say(role="hierophant")
  | Having made offering at the altar of burnt sacrifice, and having been
  | cleansed at the laver of brass, the priest then entered the holy place.
do(role="keryx") takes Neophyte behind pillars to north.
do(role="keryx") removes the chair.
do(role="stolistes,dadouchos") return to their places.
do(role="hiereus")
  | takes his stand between the pillars (Kerux having removed the chair)
  | facing Neophyte. He guards the path with his sword and says:
say(role="hiereus")
  | Thou canst not pass the gateway which is between the pillars,
  | unless thou canst give the signs and words of a Neophyte.
do(role="candidate") 
  | gives them
do(role="keryx")
  | instructs Neophyte to advance to a position between the pillars.
do(role="candidate")
  | advances to a position between the pillars.
do(role="hiereus")
  | returns to his place.
do(role="hegemon")
  | comes forward, stands east of pillars facing Neophyte, and bars the
  | way into the temple with sceptre, saying:
say(role="hegemon")
  | Thou canst not enter the holy place, unless thou canst give the sign
  | and grip of a Zelator.
do(role="candidate") gives them.
do(role="keryx") hands Neophyte over to charge of Hegemon and resumes his seat.
do(role="hegemon") leads Neophyte to north, and says:
say(role="hegemon")
  | To the northern side of the holy place stood the table of shewbread.
  | The drawing before you represents its occult meaning. On it twelve loaves
  | were laid as emblems of the bread of life, and it is an image of the mystery
  | of the rose of creation. The twelve circles are the twelve signs of thezodiac,
  | while the lamp in the centre is symbolic of the sun, which is the
  | source of heat and life. The four triangles whose twelve angles each touch
  | one of the twelve circles are those of fire, earth, air, and water, and allude
  | to the four triplicities of the zodiacal signs. The triangle inscribed within
  | each of the twelve circles alludes to the three decanates, or phases of ten
  | degrees of each sign. On one side of each triangle is the permutation of the
  | divine name Yod Heh Vau Heh, which is referred to that particular sign,
  | while in the opposite side of it is the name of one of the twelve tribes
  | which is also attributed to it.

img(src="/pics/TableOfShewbread-magickly-export.png")
note Table of Shewbread diagram

say(role="hegemon")
  | Now the twenty-two sounds and letters of the Hebrew alphabet are
  | the foundations of all things. Three mothers, seven doubles, and twelve
  | simples. The twelve simple letters are allotted to the twelve directions in
  | space, and those diverge to infinity, and are in the arms of the Eternal.
  | These twelve letters He designed and combined, and formed with them the
  | twelve celestial constellations of the zodiac. They are over the universe as a
  | king upon his throne, and they are in the revolution of the year as a king
  | traversing his dominions, and they are in the heart of man as a king in
  | warfare.
say(role="hegemon")
  | And the twelve loaves are the images of those ideas, and are the outer
  | petals of the rose; while within are the four archangels ruling over the four
  | quarters, and the Kerubic emblems of the lion, man, bull, and eagle.
  | Around the great central lamp, which is an image of the sun, is the great
  | mother of heaven, symbolised by the letter Heh, the first of the simple
  | letters, and by its number five, the pentagram, Malkah the bride, ruling in
  | her kingdom Malkuth, crowned with a crown of twelve stars.
  | These twelve circles further represent the twelve foundations of the holy
  | city of the Apocalypse, while in Christian symbolism the sun and the twelve
  | signs are referred to Christ and His twelve apostles.
do(role="hegemon")
  | leads Neophyte to Hiereus and then returns to his place and is seated.
do(role="hiereus") leads Neophyte to the south, and says:
say(role="hiereus")
  | On the southern side of the holy place stood the seven-branched
  | candlestick, wherein was burned pure olive oil. It is an image
  | of the mystery of the Elohim, the seven creative ideas. The
  | symbolic drawing before you represents its occult meaning. The
  | seven circles which surround the heptagram represent the seven
  | planets and the seven Qabalistic palaces of Assiah, the material
  | world—which answer to the seven Apocalyptic churches which are in
  | Asia or Assiah
  footnote
    | John Michael Greer: The seven churches in Asia named in the second
    | and third chapters of the Book of Revelation, a staple of Christian
    | Qabalah and esoteric Christianity generally.
  |
  | — as these again allude to the seven lamps before
  | the throne on another plane.
say(role="hiereus")
  | Within each circle is a triangle to represent the threefold creative
  | idea operating in all things. On the right hand side of each is the Hebrew
  | name of the angel who governs the planet; on the left side is the Hebrew
  | name of the sphere of the planet itself; while the Hebrew letter beneath the
  | base is one of the duplicated letters of the Hebrew alphabet which refer to
  | the seven planets.

img(src="/pics/SevenBranchedCandleStick-magickly-export.png")
note Seven-Branched Candlestick diagram

say(role="hiereus")
  | The seven double letters of the Hebrew alphabet have each two sounds
  | associated with them, one hard and one soft. They are called “double”
  | because each letter represents a contrary or permutation, thus:
  | life and death; peace and war; wisdom and folly; riches and poverty;
  | grade and indignity; fertility and solitude; power and servitude.
  | These seven letters point out seven localities: zenith, nadir,
  | east, west, north, south, and the place of holiness in the midst
  | sustaining all things. The archetypal Creator designed, produced,
  | combined, and formed with them the planets of the universe, the days
  | of the week, and in man, the gates of the soul. He has loved and
  | blessed the number seven more than all things under His throne. The
  | powers of these seven letters are also shown forth in the seven
  | palaces of Assiah and the seven stars of that vision are the seven
  | archangels who rule them.
do(role="hiereus")
  | leads Neophyte to west of altar, returns to his place, and is seated.
do(role="hierophant")
  | comes to east of altar, takes censer from altar, and holding it
  | with chain short, makes cross and three forward swings, replaces it,
  | and says:
say(role="hierophant")
  | Before the veil of the Holy of Holies stood the altar of incense, of
  | which this altar is an image. It was of the form of a double cube, thus
  | representing material form as a reflection and duplication of that which is
  | spiritual. The sides of the altar, together with the top and bottom, consist
  | of ten squares, thus symbolising the ten Sephiroth of which the basal one
  | is Malkuth, the realisation of the rest upon the material plane, behind
  | which the others are concealed. For were this double cube raised in the air
  | immediately above your head, you would but see the single square forming
  | the lowest side, the others from their position being concealed from you.
  | Just so, behind the material universe lies the concealed form of the majesty
  | of God.
  br
  | The Altar of Incense was overlaid with gold to represent the highest
  | degree of purity, but the altar before you is black to represent the terrestrial
  | earth. Learn, then, to separate the pure from the impure, and refine the gold
  | of the spirit from the black dragon, the corruptible body. Upon the cubical
  | altar were fire, water, and incense, the three mother letters of the Hebrew
  | alphabet: Aleph, Mem, and Shin. Mem is silent, Shin is sibilant, and Aleph
  | is the tongue of a balance between these contraries in equilibrium,
  | reconciling and mediating between them. In this is a great mystery, very
  | admirable and recondite. The fire produced the heavens, the water, the earth,
  | and the air is the reconciler between them. In the year, they bring forth the
  | hot, the cold, and the temperate seasons, and in man, they are imaged in the
  | head, the chest, and the trunk.
say(role="hierophant")
  | I now confer upon you the mystic title of Periclinus de Faustis
  footnote
    | John Michael Greer: Latin for "fallen away from the happy".
    | The meanings of the mystic titles of later grades are given
    | in the text of the rituals.
  | , which signifies that on this earth you are in a wilderness, far
  | from the garden of the happy.
say(role="hierophant")
  | And I give you the symbol of Aretz which is the Hebrew name for earth,
  | to which the
  |
  grade(grade="1=10")
  |
  | grade of Zelator is referred. The word Zelator is derived from the
  | ancient Egyptian Zaruator, signifying “Searcher of Athor,” goddess
  | of nature; but others assign to it the meaning of the zealous student
  | whose first duty was to blow the athanor of fire which heated the
  | crucible of the alchemist.

do(role="hierophant") resumes seat on dais.
do(role="keryx") xleads new Zelator to seat in northwest.
say(role="hierophant")
  | Frater Kerux, you have my command to declare that our frater has
  | been duly admitted to the
  |
  grade(grade="1=10")
  |
  | grade of Zelator.
do(role="keryx")
  | comes to northwest of Hierophant, faces west, raises wand and says:
say(role="keryx")
  | In the Name of Adonai Melekh, and by command of the very
  | honoured Hierophant, hear ye all that I proclaim that Frater
  |
  b 
    var(name="candidateMotto")
  |
  | has been duly admitted to the
  |
  grade(grade="1=10")
  |
  | grade of Zelator, and that he has obtained the mystic title of
  | Periclinus (masc.) / Pericline (fem.) de Faustis and the
  | symbol of Aretz.
do(role="keryx")
  | returns to his place by east, saluting, and by south and west.
say(role="hierophant")
  | In the Zelator grade, the symbolism of the tenth Sephirah Malkuth
  | is especially shown, as well as the tenth Path of the Sepher Yetzirah.
  | Among other mystic titles, Malkuth is called Shaar, the Gate, which by
  | metathesis becomes Ashur, meaning the number ten. Also in Chaldee it is
  | called Thraa, the Gate, which has the same number as the great name
  | Adonai, written in full: Aleph, Daleth, Nun, Yod, which both equal 671 in
  | total numeration. It is also called “the gate of death,” “the gate of tears,”
  | “the gate of justice,” “the gate of prayer,” and “the gate of the daughter of
  | the mighty ones.” It is also called “the gate of the garden of Eden” and the
  | inferior mother, and in Christian symbolism, it is connected with the three
  | holy women at the foot of the Cross. The tenth Path of the Sepher Yetsirah
  | which answereth to Malkuth is called “the resplendent intelligence,”
  | because it exalts above every head and sitteth upon the throne of Binah. It
  | illuminateth the splendour of all the lights (the zohar me-ouroth), and
  | causeth the current of the divine influx to descend from the prince of
  | countenances, the great archangel Metatron.
say(role="hierophant")
  | Frater
  |
  b 
    var(name="candidateMotto")
  | , before you can be eligible for advancement to the next grade of
  |
  grade(grade="2=9")
  |
  | you will be required to pass an examination in certain subjects. A
  | manuscript on these will be supplied to you. When you are well
  | satisfied that you are well informed on these, notify the officer in
  | charge.

br
br
title(text="Closing of the 1 = 10 Grade")
  | Closing of the
  |
  grade(grade="1=10")
  |
  | Grade
say(role="hierophant")
  | Fratres and sorores, assist me to close this temple in the
  |
  grade(grade="1=10")
  |
  | grade of Zelator.
do(role="all") Rise
do(role="hierophant")
  | Frater Kerux, see that the temple is properly guarded.
do(role="keryx")
  | ✊ on inner side of door.
do(role="sentinel")
  | ✊
say(role="keryx") Very honoured Hierophant, the temple is properly guarded.
say(role="hierophant") Let us adore the Lord and King of Earth.
do(role="all") Face east.
say(role="hierophant")
  | Adonai ha-Aretz, Adonal Melekh, blessed be Thy name unto the countless
  | ages. Amen.
do(role="hierophant")
  | gives
  |
  grade(grade="1=10")
  |
  | sign.
do(role="all-except-hierophant")
  | Give sign and face as usual.
do(role="hierophant")
  | leaves his throne and passes to the north, standing before the
  | tablet of the north.
do(role="hiereus") stands to right of Hierophant.
do(role="hegemon") stands to left of Hierophant.
do(role="keryx") stands behind Hierophant.
do(role="stolistes") stands behind Hiereus.
do(role="dadouchos") stands behind Hegemon.
say(role="hierophant")
  | Let us rehearse the prayer of the earth spirits:
say(role="hierophant")
  | “O invisible king, who, taking the earth for foundation, didst hollow its
  | depths to fill them with Thy almighty power. Thou whose name shaketh the
  | arches of the world, Thou who causest the seven metals to flow in the veins
  | of the rocks, king of the seven lights, rewarder of the subterranean workers,
  | lead us into the desirable air and into the realm of splendour. We watch and
  | we labour unceasingly, we seek and we hope, by the twelve stones of the
  | holy city, by the buried talismans, by the axis of the lodestone which passes
  | through the centre of the earth—O Lord, O Lord, O Lord! Have pity upon
  | those who suffer. Expand our hearts, unbind and upraise our minds, enlarge
  | our natures.
say(role="hierophant")
  | “O stability and motion! O darkness veiled in brilliance! O day clothed in
  | night! O master who never dost withhold the wages of Thy workmen! O
  | silver whiteness—O golden splendour! O crown of living and harmonious
  | diamond! Thou who wearest the heavens on Thy finger like a ring of
  | sapphire! Thou who hidest beneath the earth in the kingdom of gems, the
  | marvelous seed of the stars! Live, reign, and be Thou the eternal dispenser
  | of the treasures whereof Thou hast made us the wardens.”
  | Depart ye in peace unto your abodes. May the blessing of Adonai be upon
  | you.
do(role="hierophant") makes Banishing Pentagram of Earth.
say(role="hierophant")
  | Be there peace between us and you, and be ye ready to come when ye are
  | called.
do(role="all") return to their places and face as usual.
say(role="hierophant")
  | In the Name of Adonai Melekh, I declare this temple closed in the
  | grade of Zelator.
do(role="hierophant") ✊✊✊✊ | ✊✊✊ | ✊✊✊
do(role="hiereus") ✊✊✊✊ | ✊✊✊ | ✊✊✊
do(role="hegemon") ✊✊✊✊ | ✊✊✊ | ✊✊✊
do(role="hegemon") leads out the candidate.
